.App {
	text-align: center;
	display: flex;

	&--Sidebar {
		height: 100vh;	// needs the calc because borders in use
	}

	&--MainPage {
		width: 100%;		// moves the "main page" to the right enough so it doesn't get hidden behind anything
		vertical-align: top;
	}
}
