.FileSelector {
	border: 5px solid var(--sidebar-fileselector-border);
	background-color: var(--sidebar-fileselector-background);

	cursor: pointer;

	label {
		cursor: pointer;
	}

	&--Warn {
		border: 5px solid var(--sidebar-fileselector-warn-border);
		background-color: var(--sidebar-fileselector-warn-background);
	}

	&--Needed {
		border: 5px solid var(--sidebar-fileselector-needed-border);
		background-color: var(--sidebar-fileselector-needed-background);
	}

	/*&--Form {
		label {
			max-width: 100px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}*/

	&--FileInput {
		display: none;
	}

	&--FileCounts {
		font-family: monospace;
		margin: 0;
	}

	&--OutsideDir {
		font-family: monospace;
		margin: 0;
		color: var(--sidebar-fileselector-outsidedir-text);
	}
}
