.FileSelector {
	border: 5px solid rgba(0, 200, 0, 0.75);
	background-color: rgba(0, 200, 0, 0.15);

	cursor: pointer;

	label {
		cursor: pointer;
	}

	&--Warn {
		border: 5px solid rgba(255, 200, 0, 0.75);
		background-color: rgba(255, 200, 0, 0.15);
	}

	&--Needed {
		border: 5px solid rgba(200, 0, 0, 0.75);
		background-color: rgba(255, 0, 0, 0.15);
	}

	/*&--Form {
		label {
			max-width: 100px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}*/

	&--FileInput {
		display: none;
	}

	&--FileCounts {
		font-family: monospace;
		margin: 0px;
	}
}
