.DirectorySelector {
	border: 5px solid var(--sidebar-direcorselector-border);
	background-color: var(--sidebar-direcorselector-background);

	&--Problems {
		border: 5px solid var(--sidebar-direcorselector-problems-border);
		background-color: var(--sidebar-direcorselector-problems-background);
	}

	&--NoneSelected {
		border-bottom: 5px solid var(--sidebar-direcorselector-nonselected-border);

		.code {
			font-family: monospace;
			font-size: 1.25em;
			margin: 0;
		}

		p {
			margin: 0;
		}
	}

	&--WorkingDir {
		form, label {
			cursor: pointer;
		}

		&--WorkDirInput {
			display: none;
		}

		&--WorkPath {
			border-top: 2px solid var(--sidebar-direcorselector-workpath-border);
			font-family: monospace;

			p {
				margin: 0;
			}

			span {
				font-size: 1.25em;
			}

			&--SubFolders {
				border: 5px solid var(--sidebar-direcorselector-subfolders-border);
				font-size: 1.25em;
			}
		}
	}
}
