.DirectorySelector {
	&--WorkingDir {
		form, label {
			cursor: pointer;
		}

		&--WorkDirInput {
			display: none;
		}

		&--WorkPath {
			border: 5px solid rgba(0, 0, 100, 0.5);
			font-family: monospace;

			p {
				margin: 0;
			}

			span {
				font-size: 1.25em;
			}

			&--SubFolders {
				border: 5px solid rgba(255, 100, 0, 0.75);
				font-size: 1.25em;
			}
		}
	}
}
