.Lyrics {
	&--LyricData {
		text-align: left;
		margin: 0px;
	}
	&--EditorArea {
		border: 5px solid rgba(100, 100, 100, 1);

		&--Button {
			&--active {
				background-color: turquoise;
			}
		}

		&--LineNumbering {
			float: left;
			width: 15%;
			overflow: scroll;
			border: 5px solid blue;

			p {
				margin: 11px 0px;
				font-family: monospace;
			}
		}

		&--Editor {
			border: 5px solid red;
			min-height: 10em;
			cursor: text;
			padding: 10px;
			text-align: left;
		}
	}
}
